.html h1{
    margin-left: 50px;
    padding-bottom: 20px;
    border-bottom: 1px solid #A9A9A9;
}
.html .p1 ,.css .p1 , .js .p1{
    margin-left: 80px;
    font-size: 20px;
}
.html .p2 ,.css .p2 ,.js .p2
{
    margin-left: 95px;
    font-size: 15px;
}
.html ul li , .css ul li  , .js ul li{
    list-style-type: circle;
    margin-left: 100px;
}
.html img , .css img ,.js img{
    width: 60px;
    height: 60px;
    margin-left: 95px;
}
